*{
    margin: 0;
    padding: 0
}

/* estilos de pagina Inicio*/
.page1{
    width: 970px;
    height: 1390px;
    margin: 60px 0 0 80px;
    background-color: blueviolet;
    padding: 10px 0 30px 0;
}
.page1 article, .page1 div, .page1 aside{
    width: 900px;
}
.page1 article{
    height: 600px;
    margin: 0 30px 20px 40px;
    background-color: blue;
}
.page1 div{
    height: 400px;
    margin: 0 10px 30px 60px;
    background-color: red;
}
.page1 aside{
    height: 300px;
    margin: 0 40px 0 30px;
    background-color: yellow;
}
/*page2*/

.page2{
    width: 895px;
    height: 950px;
    margin: 60px 0 0 80px;
    background-color: green;
    padding: 30px 0 25px 0;
}
.page2a{
    width: 835px;
    height: 260px;
    margin: 30px 20px 15px 40px;
    background-color: gold;
    padding-top: 10px;
}
.page2aa{
    width: 800px;
    height: 100px;
    margin: 30px 15px 20px 20px;
    background-color: brown;
}
.page2aaa{
    width: 800px;
    height: 100px;
    margin: 20px 15px 10px 20px;
    background-color: hotpink;
}
.page2ab{
    width: 835px;
    height: 350px;
    margin: 15px 30px 20px 30px;
    background-color: mediumseagreen;
    padding-top: 10px;
}
.page2ac{
    width: 800px;
    height: 300px;
    margin: 30px 25px 20px 10px;
    background-color: navy;
}
.page2c{
    width: 835px;
    height: 250px;
    margin: 20px 15px 25px 25px;
    background-color: darkturquoise;
}
/*page3*/
.page3{
    width:980px ;
    height:830px ;
    margin: 40px 0 0 30px;
    padding: 10px 0 10px 0;
    background-color: black;
}
.page3m{
    width:900px ;
    height: 300px;
    margin:10px 40px 30px 40px;
    background-color: red;
}
.page3q{
    width: 900px;
    height:240px;
    margin:30px 50px 40px 30px;
    padding: 1px;
    background-color: blue;
}
.page3e{
    width:850px ;
    height:100px ;
    margin:10px 15px 20px 15px ;
    padding-top: 1px;
    background-color:yellow; 
}
.page3r{
    width: 850px;
    height:100px ;
    margin:20px 15px 10px 15px ;
    padding-top:1px ;
    background-color:fuchsia; 
}
.page3t{
    width:900px ;
    height:200px ;
    margin:40px 60px 10px 20px;
    padding-top: 1px;
    background-color:lawngreen;
}
.page3u{
    width: 860px;
    height: 140px;
    margin: 30px 10px 30px 30px;
    padding-top: 1px;
    background-color:rebeccapurple;
}
.page3y{
    width: 820px;
    height: 100px;
    margin: 20px;
    padding-top:1px ;
    background-color: darkorange;
}
.page3g{
    width: 780px;
    height: 80px;
    margin: 10px 20px 10px 20px;
    padding-top:1px ;
    background-color: mediumspringgreen;;
}
/*page4*/
.page4{
    width: 1000px;
    height: 1200px;
    margin: 40px;
    background-color: red;
    padding: 10px;
  
}
.page4m{
    width: 960px;
    height: 1160px;
    margin: 20px 20px 20px 20px;
    padding-top: 1px;
    background-color: yellow;
    border: 0;
}
.page4ma{
    width: 900px;
    height: 1100px;
    margin: 30px;
    padding-top: 1px;
    background-color: blue;
}
.page4ai{
    width: 880px;
    height: 520px;
    margin: 20px 10px 20px 10px;
    padding-top: 1px;
    background-color: green;
}
.page4nn{
    width: 840px;
    height: 500px;
    margin: 10px 20px 10px 20px;
    padding-top: 1px;
    background-color: saddlebrown;
}
.page4mm{
    width: 780px;
    height: 460px;
    margin: 20px 30px 20px 30px;
    padding-top: 1px;
    background-color: indigo;
}
.page4bn{
   width: 880px;
   height:520px;
   margin: 20px 10px 20px 10px;
   padding-top: 1px;
   background-color: black;
}
.page4xx{
    width:840px ;
    height: 500px;
    margin: 10px 20px 10px 20px;
    padding-top: 1px;
    background-color:teal; 
}
.page4hh{
    width: 780px;
    height: 460px;
    margin: 20px 30px 20px 30px;
    padding-top:1px ;
    background-color: firebrick;
}
/*page5*/
.page5{
    width:900px ;
    height: 1480px;
    margin:70px 0 0 60px ;
    padding:1px ;
    background-color:yellow;
}
.page5h{
    width: 800px;
    height: 1200px;
    margin: 20px 60px 40px 40px;
    padding-top: 1px;
    background-color: blue;
}
.page5i{
    width: 760px;
    height: 300px;
    margin: 20px 30px 30px 30px;
    padding-top: 1px;
    background-color: red;
}
.page5f{
    width: 740px;
    height: 300px;
    margin:30px 40px 15px 40px;
    padding-top:1px ;
    background-color: red;
}
.page5t{
    width:760px ;
    height: 300px;
    margin:15px 40px 15px 20px ;
    padding-top:1px ;
    background-color: red;
}
.page5k{
    width: 760px;
    height:200px ;
    margin:15px 45px 20px 15px ;
    padding-top:1px ;
    background-color: red
}
.page5ñ{
    width: 700px;
    height: 200px;
    margin: 40px 100px 60px 100px;
    padding-top: 1px;
    background-color: black;
}